---
export const prerender = false
import { getEntry } from "@data/sanity/api"
import Base from "@layouts/Base.astro"
import persons from "@data/persons.js"
const { id  } = Astro.params
const entry = await getEntry(id)
const { first_name, last_name, email } = entry
---


<Base title={`${first_name} ${last_name}`}>
	<div class="bg-light p-5 rounded mt-3">
		<h1>{first_name} {last_name}</h1>
		<p class="lead">{email}</p>
	</div>
</Base>